body {
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
    background-color: black;
}

h2 {
    text-align: center;
}

nav {
    font-size: 25px;
    background-color: #fffafa;
}

section {
    width: 90%;
    height: auto;
    margin: 50px auto 50px auto;
    border-bottom: 1px solid gray;
}


section h2 {
    font-size: 40px;
    margin-bottom: 20px;
    color: #e5c416;
}


#home h1, p {
    color: #14ac79;
}

#home h1 {
    font-size: 60px;
}

#home p {
    font-size: 30px;
    text-align:justify;
}

#home img {
    width: 250px;
    height: 250px;
    border: 1px solid #14ac79;
    margin: 20px 25%;
}

a:active {
    color:white;
}

#about img {
    width: 300px;
    height: 300px;
    margin-left: 5%;
    margin-bottom: 20px;
    border-radius: 50%;
    border: 1px solid #0d6efd;
}

#about p {
    max-width: 500px;
    font-size: 25px;
    color: #0d6efd;
    margin-top: 25px;
}

#skills img {
    width: 150px;
    height: 150px;
    background-color: white;
    border: 5px solid #14ac79;
    border-radius: 5px;
    margin-left: 25%;
    margin-bottom: 15px;
}

#project .card {
    margin-bottom: 15px;
    border: 5px solid #14ac79;
}

#project img {
    width: 250px;
    height: 250px;
    border: 1px solid #0d6efd; 
    margin: 10px auto;
}

#project .card-title{
    text-align: center;
}

.csharp {
    text-align: center;
    color: white;
    border-radius: 5px;
    padding: 1px;
    margin: 1px;
    background-color: #360092;
}

.sql {
    text-align: center;
    color: white;
    border-radius: 5px;
    padding: 1px;
    margin: 1px;
    background-color: #e2322c; 
}

.web_html {
    text-align: center;
    color: white;
    border-radius: 5px;
    padding: 1px;
    margin: 1px;
    background-color: #ef652a; 
}

.web_css {
    text-align: center;
    color: white;
    border-radius: 5px;
    padding: 1px;
    margin: 1px;
    background-color: #2365f1; 
}

.web_bootstrap{
    text-align: center;
    color: white;
    border-radius: 5px;
    padding: 1px;
    margin: 1px;
    background-color: #7b0af7; 
}

.web_javascript{
    text-align: center;
    color: white;
    border-radius: 5px;
    padding: 1px;
    margin: 1px;
    background-color: #f7df1e; 
}

.sequencia {
    margin-bottom: 16px;
}

footer {
    margin-bottom: 5px;
    color: white;
}
